{%include 'main.html'%}
{%load static%}
   {% block content %}
<!DOCTYPE html>
<html>

<body>




    <div class="content">
        <h1>Announcements</h1>

        <div class="announcement">
            📢 Semester exams start on **10th March**
        </div>

        <div class="announcement">
            📢 Course registration closes on **Friday**
        </div>

        <div class="announcement">
            📢 Library will be closed on public holidays
        </div>
    </div>
</div>

</body>
</html>
{%endblock%}