{%include 'main.html'%}
{%load static%}
   {% block content %}
<!DOCTYPE html>
<html>
<head>

<body>





    <div class="content">
        <h1>My Courses</h1>

        <div class="card">
            <ul class="list">
                <li></li>
                <li>Biology</li>
                <li>Physics</li>
                <li>English</li>
                <li>Kiswahili</li>
                <li>Geography</li>
                <li>Religious education</li>
                <li>History</li>
                <li>Business Studies</li>
            </ul>
        </div>
    </div>

</body>
</html>
{%endblock%}
