
{%include 'main.html'%}
{%load static%}
   {% block content %}
   
<html>
    
    <div class="content">
        <h1>Welcome, Admin 👋</h1>

        <div class="cards">
            <div class="card">
                <h3>Total Students</h3>
                <p>78 Enrolled</p>
            </div>
            <div class="card">
                <h3>Total fee collected</h3>
                <p>9000</p>
            </div>
            <div class="card">
                <h3>Fee Arrears</h3>
                <p>15000</p>
            </div>
        </div>

</html>
   {%endblock%}