
{%include 'main.html'%}
{%load static%}
   {% block content %}
   
<html>
    
    <div class="content">
        <h1>Welcome, Admin 👋</h1>
<a href="{% url 'student_list' %}" class="card-link">
      <div class="cards">
            <div class="card">
                <h3 style="color: black;">Total Students</h3>
                <p>78 Enrolled</p>
            </div>
</a>
      <style>
        a {
    text-decoration: none;
}

      </style>
            <div class="card">
                <h3>Total fee collected</h3>
                <p>9000</p>
            </div>
            <div class="card">
                <h3>Fee Arrears</h3>
                <p>15000</p>
            </div>
        </div>

</html>
   {%endblock%}