
{%include 'main.html'%}
{%load static%}
   {% block content %}
<html>
    {% if request.user.is_authenticated%}
    <div class="content">
        <h1>Welcome, {{request.user}} 👋</h1>
        {%endif%}
<a href="{% url 'student_list' %}" class="card-link">
      <div class="cards">
            <div class="card">
                <h3 style="color: black;">Total Students</h3>
                <p>{{stud}} Enrolled</p>
            </div>
</a>
      <style>
        a {
    text-decoration: none;
}

      </style>
            <div class="card">
                <h3>Total fee collected</h3>
                <p>ksh. {{fee_paid}}</p>
            </div>
            <div class="card">
                <h3>Fee Arrears</h3>
                <p>ksh. {{arrears}}</p>
            </div>
        </div>

</html>
   {%endblock%}