{%include 'main.html'%}
{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>



 

    <div class="content">
  


     <div class="card" style="text-align:center">
    <img src="{% static 'images/avatar.jpg' %}" class="avatar">
   
    <p><b style="color: black;">Registration No:  </b> <tr>  {{std.reg_no}}</p>
    <p><b style="color: black;">Student's Name:  </b> {{std.name}}</p>
    <p><b style="color: black;">Email Address:  </b> {{std.email}}</p>
    <p><b style="color: black;">Grade: </b> {{std.grade}}</p>
    <p><b style="color: black;">Asssesment No:  </b>{{std.assessment_no}}</p>
    <p><b style="color: black;">UPI No:  </b> {{std.UPI}}</p>
    <p><b style="color: black;">Parent's Contact:  </b> {{std.emergency_contact}}</p>
    
    
</div>

  <div class="cards">
            
            <div class="card">
                <h3>School fees paid</h3>
                <p>{{std.fee_paid}}</p>
            </div>
            <div class="card">
                <h3>Fee Balance</h3>
                <p>{{std.arrears}}</p>
            </div>

    </div>
   
</div>


</body>
</html>
