{%include 'main.html'%}
{%load static%}
   {% block content %}


<div class="table-container">

<div class="table-wrapper">
        <table class="students-table">
            <thead>
    <tr>
        <th>Reg No</th>
        <th>Name</th>
        <th>Email</th>
        <th>Grade</th>
        <th>Fee paid</th>
        <th>Arrears</th>
    </tr>
    </thead>
 <tbody>
    {% for Student in students %}
    <tr>
        <td>{{ Student.reg_no }}</td>
        <td>{{ Student.name }}</td>
        <td>{{ Student.email }}</td>
        <td>{{ Student.course }}</td>
        <td>{{ Student.fee_paid }}</td>
        <td>{{ Student.arrears }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No results found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
<style>
    


/* Main container */
.table-container {
    width: 100%;
    min-height: calc(100vh - 80px); /* fills screen below topbar */
    margin: 0;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 0;
    box-shadow: none;
}

/* Header */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-header h2 {
    margin: 0;
    color: #333;
}








/* Table wrapper (for horizontal scroll on mobile) */
.table-wrapper {
    overflow-x: auto;
}

/* Table */
.students-table {
    width: 100%;
    border-collapse: collapse;
}

.students-table th {
    background: #f0f3ff;
    padding: 14px;
    text-align: left;
    font-size: 14px;
}

.students-table td {
    padding: 14px;
    border-top: 1px solid #eee;
    font-size: 14px;
}

.students-table tr:hover {
    background: #f9faff;
}

/* Empty state */
.no-results {
    text-align: center;
    padding: 20px;
    color: #777;
}


</style>
{%endblock%}
